<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>LoL News Scraper</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    </head>


        <nav class="blue">
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo">PBE Scraper</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="scrape-btn">Scrape</a></li>
                </ul>
            </div>
        </nav>

        {{{ body }}}

</html>