<div class="container">

    {{#each documents}}
        <div class="row">
            <div class="col s12"></div>
            <h5><a href={{link}}>{{title}}</a></h5>
            <a class="waves-effect waves-light btn">Favorite</a>
        </div>
    {{/each}}
</div>